<nav class="navbar navbar-light bg-light mb-5">
    <a class="navbar-brand" href="#">App</a>

    <ul class="flex-row navbar-nav ml-auto" *ngIf="auth.isAuth()">
        <li class="nav-item ml-3">
            <a class="nav-link" 
              routerLink="/users" 
              routerLinkActive="active" 
              [routerLinkActiveOptions]="{exact: true}">Users</a>
        </li>

      <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/about" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">About</a>
      </li>
    </ul>
    
    <button type="button" 
            class="btn btn-secondary ml-3 px-3 py-1" 
            (click)="onLogout()" 
            *ngIf="auth.isAuth()">Log out <i class="fas fa-sign-out-alt"></i></button>
</nav>